/* Header */

header {
  padding: 10px;
  background-color: #FA6838;
  color: white;
}

.ship,
.save {
  display: inline-block;
}

.ship {
  background-color: #C7532B;
  padding: 10px;
}

.save {
  padding: 10px;
}

/* Navigation Section */

ul {
  list-style: none;
}

/* Repeating Images */

/* Accessories & 3 Columns */

.bowties {
  float: left;
  width: 30%;
  border: 1px solid black;
}

.tie-bars {
  float: right;
  width: 30%;
  border: 1px solid black;
}

.pocket-squares {
  display: inline-block;
  width: 30%;
  border: 1px solid black;
}

/* Connect Columns (4) */

.connect-box{
  border: 1px solid black;
  display: inline-block;
  width: 200px;
}

.connect-box img {
  max-width: 100%;
}

/* Footer */

footer {
  background-color: #F4F4F4;
}

.footer-list {
  display: inline-block;
}

.help-box {
  float: right;
  border: 1px solid black;
}
